*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
 }
 .container{
     width: 100%;
     height: 100vh;
     background-color: aquamarine;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .calculator{
     background-color: rgb(19, 15, 15);
     padding:20px;
     border-radius: 10px;
 }
 .calculator form input{
     border:0px;
     outline: 0;
     font-size: 25px;
     width: 60px;
     font-weight: 800;
     height: 60px;
     border-radius: 10px;
     background-color: transparent;
     color:white;
     cursor:pointer;
     margin:10px;
     box-shadow: -8px -8px 15px rgba(250,250,250,0.3);
 }
 form .display{
     display: flex;
     justify-content: flex-end;
     margin: 20px 0;
 }
 form .display input{
     text-align: right;
     flex:1;
     font-weight: 400;
     font-size:45px;
     box-shadow: none;
 }
 #P{
 width: 140px;
 font-size: large;
 }